.header {
    background-color: black;
    color: white;
    width: 100%;
    &__layout {
        display: flex;
        justify-content: space-between;
        padding: 2% 5%;
    }
    &__popular-crypto {
        display: flex;
        gap: 3em;
    }
    &__profile {
        display: flex;
        
        gap: 5%;
    }
} 
